.home {
    margin: 0;
}
.home .navbar{
    padding-left: 40px;
    padding-right: 40px;
}
.home .navbar a{
    color: #22313F;
    display: block;
}
.home .navbar a:hover {
    color: black;
    display: block;
}
.home .navbar h3{
    font-size: 1.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home .container-fluid .row .header{
    background-image: url("../images/CopyofBitmap.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 650px;
    padding-top: 180px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 40%;
    word-wrap: break-word;
}
.home .container-fluid .row .motto {
    background-color: black;
    background-size: cover;
    min-height: 100px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.home .container-fluid .row .motto h2{
    font-size: 2.1em;
}
.home .container-fluid .row .motto small{
    font-size: 1em;
}
.home .container-fluid .row .motto h2 label{
    color: #F03434;
}
.home .container-fluid .row .header .header-text {
    color: white;
    font-size: 3.5em;
    font-family: headerfont;
}
.home .container-fluid .row .header .header-text label {
    color: black;
    background: yellow;
    padding-left: 10px;
    padding-right: 10px;
}
.home .container-fluid .row .header .text-isi {
    color: white;
    font-size: 1.9em;
    font-family: textisi;
}
.home .container-fluid .row .header .btnjoin {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 1.3em;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.home .container-fluid .row .header .btnjoin:hover {
    color: yellow;
    border: 2px solid yellow;
}
.home .container-fluid .row .motto .btnjoin {
    background-color: transparent;
    color: yellow;
    border: 2px solid yellow;
    font-size: 1.3em;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.home .container-fluid .row .motto .btnjoin:hover{
    color: white;
    border:2px solid white;
}
.home .container-fluid .row .content1{
    background-color: #EEEEEE;
    min-height: 280px;
    width: 100%;
    padding-top: 40px;
    padding-left: 20%;
    padding-right: 20%;
}
.home .container-fluid .row .content1 h2 b{
    font-size: 1.4em;
    color: black;
    border-bottom: black solid 10px;
}
.home .container-fluid .row .content1 p {
    font-size: 1.2em;
    color: black;
}
.home .container-fluid .row .content2 {
    background-color: white;
    min-height: 240px;
    width: 100%;
    padding-top: 40px;
    padding-left: 30%;
    padding-right: 30%;
    font-family: textisi;
    color: black;
}
.home .container-fluid .row .content2 h2{
    font-size: 2.5em;
    line-height: 1.3;
}
.home .container-fluid .row .content2 p {
    margin-top: 30px;
    font-size: 1.3em;
    line-height: 1.3;
}
.home .container-fluid .row .gallery{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.home .container-fluid .row .content3 {
    margin-top: 30px;
    background-color: #3d3d3d;
    min-height: 250px;
    width: 100%;
    padding-top: 20px;
    padding-left: 30%;
    padding-right: 30%;
    font-family: textisi;
    color: white;
}
.home .container-fluid .row .content3 p {
    margin-top: 30px;
    font-size: 1.9em;
    line-height: 1.3;
}
.home .container-fluid .row .content4 {
    background-color: #3d3d3d;
    min-height: 270px;
    width: 100%;
    padding-top: 10px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 80px;
    font-family: textisi;
    color: white;
}
.home .container-fluid .row .content4 h2{
    font-size: 1.5em;
}
.home .container-fluid .row .content4 p{
    color: #aaa69d;
}

.featurette-divider {
    margin: 2rem 0;
    /* Space out the Bootstrap <hr> more */
}
.home .container-fluid .row .content5 {
    min-height: 270px;
    width: 100%;
    padding-top: 50px;
    padding-left: 10%;
    padding-bottom: 80px;
    font-family: textisi;
    color: black;
}
.home .container-fluid .row .content5 h2{
    font-size: 2.5em;
    font-family: headerfont;
    margin-left: 10%;
    border-bottom: #F03434 solid 10px;
}
.home .container-fluid .row .content5 p {
    padding-top: 20px;
    font-size: 1.1em;
    font-family: textisi;
    margin-left: 10%;
}
.home .container-fluid .row .content5 li {
    margin-left: 22%;
    list-style:none;
}
.home .container-fluid .row .content5 li:before {
    content: "•";
    color: red;
    margin-left: -2em;
    display: inline-block;
    width: 2em;
}
.home .container-fluid .row .content6 {
    min-height: 270px;
    width: 100%;
    padding-top: 50px;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 80px;
    font-family: textisi;
    background-color: #f1f2f6;
}
.home .container-fluid .row .content6 h2{
    font-size: 2em;
    font-family: headerfont;
}
.home .container-fluid .row .content6 p{
    margin-top: 20px;
    font-size: 1.2em;
    font-family: textisi;
}
.home .container-fluid .row .content7{
    background-image: url("../images/Copy\ of\ img08.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 350px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 30%;
    padding-right: 30%;
    word-wrap: break-word;
    color: white;
}
.home .container-fluid .row .content7 .btnapply {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 1.3em;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.home .container-fluid .row .content7 .btnapply:hover{
    color: yellow;
    border: 2px solid yellow;
}
.footer{
    width: 100%;
    min-height: 80px;
    background-color: #3d3d3d;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: textisi;
    color: white;
}
.footer i{
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.footer i:hover{
    color: yellow;
}

.hideme {
    opacity: 0;
}


@font-face {
    font-family: headerfont;
    src: url("../fonts/texgyreadventor-bold.otf");
}
@font-face {
    font-family: textisi;
    src: url("../fonts/texgyreadventor-regular.otf");
}